body{
    
}
.primary-background{ 
    background:#00695c !important; 
} 
 .card {
/*        width: 200px;
        height: 300px;*/
        background-color: #f0f0f0;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    /* Hover effect */
    .card:hover {
        transform: scale(1.05); /* Scale the card slightly on hover */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a stronger shadow on hover */
    }